{
	"extends": [
		"airbnb",
		"prettier",
		"prettier/react"
	],
	"plugins": [
		"react",
		"prettier",
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:prettier/recommended"
	],
	"rules": {
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [
					".js",
					"jsx"
				]
			}
		],
		"prettier/prettier": "error",
		"max-len": [
			"error",
			80
		],
		"linebreak-style": [
			"error",
			"unix"
		],
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn"
	},
	"env": {
		"browser": true,
		"commonjs": true,
		"es6": true,
		"node": true
	},
	"settings": {
		"import/resolver": {
			"webpack": {
				"config": "./config/webpack-common-config.js"
			}
		},
		"react": {
			"version": "detect"
		}
	},
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 2018
	}
}
