.profile {
	font-family: "PT Sans", sans-serif;

	.card {
		border: 1px solid $mainBlue;
		box-shadow: -0 3px 4px #191919;

		.btn {
			margin-top: 2rem;
			color: $mainBlue;
			background: $mainGrey;
			border: 1px solid $mainBlue;
			padding: 0.5rem 1rem;
			text-transform: uppercase;
			transition: 0.2s;
			width: 10rem;

			&:hover {
				background: $mainBlue;
				color: $mainGrey;
				border-color: $mainBlue;
			}
			&:active {
				background: darken($mainBlue, 20%);
				border-color: darken($mainBlue, 20%);
				color: $mainGrey;
			}
			&:focus {
				box-shadow: none;
				border-color: $mainBlue;
			}
		}
	}

	.banner {
		display: flex;
		width: 100vw;
		height: 500px;
		background: transparent;
		background-clip: border-box;
		position: relative;
		box-sizing: border-box;
		overflow: hidden;
		border-bottom: 1px solid $mainBlue;

		.left,
		.right {
			width: 50%;
		}

		.avatar-container {
			height: 300px;
			width: 300px;
			position: fixed;
			left: 0;
			top: 0;
			margin: auto;
			transform: translate(50%, 50%);
			border-radius: 50%;
			background-clip: border-box;
			background-position: center;
			background-repeat: no-repeat !important;
			background-size: cover;

			img {
				height: 100%;
				width: 100%;
			}
		}

		.line {
			background: $mainBlue;
			position: absolute;
			z-index: -100;
			height: 100%;
			width: 100%;
			transform: scale(4) skew(-45deg) translateX(-50%);
			box-shadow: -3px -6px 3px 3px #000000;
			transform-origin: 50% 50%;
		}
	}
}
