.btn-circle {
	border-radius: 50%;
}

.btn-link {
	font-size: 2rem;
	color: $mainBlue;
	background: none;
	border: none;
	cursor: pointer;

	&:hover {
		text-decoration: none;
	}

	&:focus {
		text-decoration: none;
		box-shadow: none;
		outline: none;
	}
}

.profile-btn {
	background: none;
	border: 1px solid $mainBlue;
	color: $mainBlue;
	transition: 0.2s;

	&:hover {
		background: $mainBlue;
		border: 1px solid $mainGrey;
		color: $mainGrey;
	}
}
